<div>
  <label>Nom de l'entreprise: </label>
  <input type="text" formControlName="nomEntreprise" name="nomEntreprise" required>
</div>
<div>
  <label>Email de l'entreprise: </label>
  <input type="text" formControlName="emailEntreprise" name="emailEntreprise" >
</div>
<div>
  <label>Téléphone de l'entreprise: </label>
  <input type="text" formControlName="telephoneEntreprise" name="telephoneEntreprise" >
</div>
<div>
  <label>Addresse de l'entreprise: </label>
  <input type="text" formControlName="addresseEntreprise" name="addresseEntreprise" >
</div>
