<div>
  <label>Nom de l'entreprise: </label>
  <input type="text" [(ngModel)]="entreprises.nomEntreprise" name="nomEntreprise" required>
</div>
<div>
  <label>Email de l'entreprise: </label>
  <input type="text" [(ngModel)]="entreprises.emailEntreprise" name="emailEntreprise" required>
</div>
<div>
  <label>Téléphone de l'entreprise: </label>
  <input type="text" [(ngModel)]="entreprises.telephoneEntreprise" name="telephoneEntreprise" required>
</div>
<div>
  <label>Addresse de l'entreprise: </label>
  <input type="text" [(ngModel)]="entreprises.addresseEntreprise" name="addresseEntreprise" required>
</div>
