<div>
  <h2>Choisir le type de candidature</h2>
  <div>
    <label>
      <input type="radio" name="formType"  [(ngModel)]="selectedForm" value="normale">
      Candidature Standard
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="formType" [(ngModel)]="selectedForm" value="spontanee">
      Candidature Spontanée
    </label>
  </div>
  <div>
    <label>
      <input type="radio" name="formType"  [(ngModel)]="selectedForm" value="offre">
      Candidature par Offre
    </label>
  </div>
</div>

<app-candidatures *ngIf="selectedForm === 'normale'"/>
<app-candidature-spontanee *ngIf="selectedForm === 'spontanee'"/>
<app-candidature-par-offre *ngIf="selectedForm === 'offre'"/>
