<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Date:</label>
    <input type="date" formControlName="dateCandidature" name="date" required>
  </div>
  <div>
    <label>Nom:</label>
    <input type="text" formControlName="nomCandidature" name="nom" required>
  </div>
  <div>
    <label>Reponse:</label>
    <select formControlName="reponseCandidature" name="reponse" required>
      <option value="Positif">Accepté</option>
      <option value="Negatif">Refusé</option>
      <option value="Attente">En Attente</option>
    </select>
  </div>
  <div>
    <label>Moyen de communication</label>
    <select formControlName="com" name="com" required>
      <option value="Reseau Social">Reseau Social</option>
      <option value="Email">Par mail</option>
      <option value="VisitePhysique">Visite en présentiel</option>
      <option value="AppelTelephonique">Appel téléphonique</option>
    </select>
  </div>
  <app-entreprises></app-entreprises>
  <button type="submit">Envoyer</button>
</form>
