<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <label>Date:</label>
    <input type="date" formControlName="dateCandidature" required>
  </div>
  <div>
    <label>Nom:</label>
    <input type="text" formControlName="nomCandidature" required>
  </div>
  <div>
    <label>Reponse:</label>
    <select formControlName="reponseCandidature" required>
      <option value="Positif">Accepté</option>
      <option value="Negatif">Refusé</option>
      <option value="Attente">En Attente</option>
    </select>
  </div>
 <div>
   <label>Nom de l'offre: </label>
   <input type="text" formControlName="nomOffre" required>
 </div>
  <div>
    <label>Lien de l'offre: </label>
    <input type="text" formControlName="lienOffre" required>
  </div>
  <div>
    <label>Description de l'offre: </label>
    <input type="text" formControlName="descriptionOffre" required>
  </div>
  <div>
    <label>Origine de l'offre: </label>
    <input type="text" formControlName="originOffre" required>
  </div>
  <app-entreprises></app-entreprises>
  <button type="submit">Envoyer</button>
</form>
